.Button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-family-sans);
  padding: 0;
  text-decoration: underline;
}
