/*
 * Globals
 * --------------------------------------------------------------
 */

body {
  font-family: var(--font-family-sans);
  text-align: left;
  color: var(--color-dark);
  background: var(--light);
  font-size: 16px;
  font-weight: 400;
}
