.Text {
  font-family: var(--font-family-sans);
  width: 100%;
  font-weight: normal;
  display: block;
  font-size: var(--ft-size-body);
}

.block {
  display: block;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.justify {
  text-align: justify;
}

.success {
  color: var(--p-text-success);
}

.critical {
  color: var(--p-text-critical);
}

.warning {
  color: var(--p-text-warning);
}

.subdued {
  color: var(--p-text-subdued);
}

.text-inverse {
  color: var(--p-text-on-dark);
}

.small {
  font-size: var(--ft-size-small);
}

.large {
  font-size: var(--ft-size-large);
}

.break {
  overflow-wrap: break-word;
}

.numeric {
  font-variant-numeric: tabular-nums lining-nums;
}
