.Text {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.6;
  font-family: var(--font-family-mono);
}

.block {
  display: block;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.justify {
  text-align: justify;
}

.success {
  color: var(--p-text-success);
}

.critical {
  color: var(--p-text-critical);
}

.warning {
  color: var(--p-text-warning);
}

.subdued {
  color: var(--p-text-subdued);
}

.text-inverse {
  color: var(--p-text-on-dark);
}

.headingXs {
  font-size: var(--p-font-size-75);
  line-height: var(--p-font-line-height-1);
  font-weight: var(--p-font-weight-semibold);
}

.headingSm {
  font-size: var(--p-font-size-100);
  line-height: var(--p-font-line-height-2);
  font-weight: var(--p-font-weight-semibold);
}

.headingMd {
  font-size: var(--p-font-size-200);
  line-height: var(--p-font-line-height-3);
  font-weight: var(--p-font-weight-semibold);
}

.headingLg {
  font-size: var(--p-font-size-200);
  line-height: var(--p-font-line-height-2);
  font-weight: var(--p-font-weight-semibold);
}

.headingXl {
  font-size: var(--p-font-size-300);
  line-height: var(--p-font-line-height-3);
  font-weight: var(--p-font-weight-semibold);
}

.heading2xl {
  font-size: var(--p-font-size-300);
  line-height: var(--p-font-line-height-3);
  font-weight: var(--p-font-weight-semibold);
}

.heading3xl {
  font-size: var(--p-font-size-400);
  line-height: var(--p-font-line-height-4);
  font-weight: var(--p-font-weight-semibold);
}

.heading4xl {
  font-size: var(--p-font-size-600);
  line-height: var(--p-font-line-height-6);
  font-weight: var(--p-font-weight-bold);
}

.bodySm {
  font-size: var(--p-font-size-75);
  line-height: var(--p-font-line-height-1);
}

.bodyMd {
  font-size: var(--p-font-size-100);
  line-height: var(--p-font-line-height-2);
}

.bodyLg {
  font-size: var(--p-font-size-200);
  line-height: var(--p-font-line-height-2);
}

.regular {
  font-weight: var(--p-font-weight-regular);
}

.medium {
  font-weight: var(--p-font-weight-medium);
}

.semibold {
  font-weight: var(--p-font-weight-semibold);
}

.bold {
  font-weight: var(--p-font-weight-bold);
}

.break {
  overflow-wrap: break-word;
}

.numeric {
  font-variant-numeric: tabular-nums lining-nums;
}
